<!DOCTYPE html>
<html class="{{body_class}}">
<head>
  {{! Document Settings }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}">

  <meta name="msapplication-TileColor" content="#FFD204">
  <meta name="msapplication-square150x150logo" content="square.png">

  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="prefetch" href="{{#foreach posts}}{{#if @first}}{{url}}{{/if}}{{/foreach}}">
  <link rel="prerender" href="{{#foreach posts}}{{#if @first}}{{url}}{{/if}}{{/foreach}}">
  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body>

<header class="de-header">
  <div class="de-menu">
    <span class="de-sandwich">☰ Menu</span>
    {{navigation}}
  </div>
  <h1 class="de-logo"><a href="/"><strong>diegoeis</strong>.com</a></h1>
  <a href="/rss" class="de-ico-rss">RSS</a>
  <a href="http://twitter.com/diegoeis" class="de-ico-twitter">@diegoeis</a>
</header>

<div class="de-wrapper">

  {{! Everything else gets inserted here }}
  {{{body}}}

</div>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! The main JavaScript file for Casper }}
<script type="text/javascript" src="{{asset "js/scripts.js"}}"></script>
<script id="dsq-count-scr" src="//diegoeis.disqus.com/count.js" async></script>

</body>
</html>
