<!DOCTYPE html>
<html class="{{body_class}}">
<head>
  {{! Document Settings }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}">

  <meta name="msapplication-TileColor" content="#FFD204">
  <meta name="msapplication-square150x150logo" content="square.png">

  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="prefetch" href="{{#foreach posts}}{{#if @first}}{{url}}{{/if}}{{/foreach}}">
  <link rel="prerender" href="{{#foreach posts}}{{#if @first}}{{url}}{{/if}}{{/foreach}}">
  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body>

<header class="de-header">
  <h1 class="de-logo"><a href="/">diegoeis<span>.com</span></a></h1>
  {{navigation}}
</header>

<div class="de-wrapper">

  {{! Everything else gets inserted here }}
  {{{body}}}

</div>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! The main JavaScript file for Casper }}
<!-- <script type="text/javascript" src="{{asset "js/index.js"}}"></script> -->

</body>
</html>
