---
pageable: true
<!-- per_page: 10 -->
---
<% if paginate && num_pages > 1 %>
  <!-- <p>Page <%= page_number %> of <%= num_pages %></p> -->

  <% if prev_page %>
    <p><%= link_to 'Página anterior', prev_page %></p>
  <% end %>
<% end %>

<div class="de-posts-list">
  <% page_articles.each_with_index do |article, i| %>
    <div class="de-post-box">
        <h1><%= article.title %></h1>
        <%= article.summary(200) %>
        <time datetime="<%= article.date.strftime('%b %e %Y') %>"><%= article.date.strftime('%b %e, %Y') %></time>
        <%= link_to "Ler post", article %>
    </div>
  <% end %>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Próxima página', next_page %></p>
  <% end %>
<% end %>
