---
pageable: true
per_page: 12
---
<h1>Artigos da tag '<%= tagname %>'</h1>
<br>
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<div class="de-posts-list">
  <% page_articles.each_with_index do |article, i| %>
    <div class="de-post-box">
        <h1><%= article.title %></h1>
        <%= article.summary(200) %>
        <time datetime="<%= article.date.strftime('%b %e %Y') %>"><%= article.date.strftime('%b %e, %Y') %></time>
        <%= link_to "Ler post", article %>
    </div>
  <% end %>
</div>

<!-- <ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>
 -->
<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
